@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font-awesome";

.prose {
  img {
    @apply rounded-lg mx-auto;
    max-width: 50%;
    &::after {
      @apply block text-center text-sm text-gray-500;
      content: attr(alt);;
    }
  }

  img[src*='#left'] {
    float: left;
    margin-right: 2rem;
    max-width: 33%;
  }
  img[src*='#right'] {
    float: right;
    margin-left: 2rem;
    max-width: 33%;
  }
}
