<header class='w-full shadow mb-8 print:hidden'>
  <div class='flex w-full max-w-7xl mx-auto px-8 py-4 print:hidden'>
    <img src="/favicon.ico" alt="James Ebentier" class='h-9 justify-self-start' />
    <ul class='flex flex-row list-none ml-auto content-center items-center justify-end my-auto'>
      <%# <li class='ml-4'><NavLink class={({ isActive }) => `text-[#333] hover:underline ${isActive && 'text-[#fab73a] hover:no-underline cursor-default'}`} to='/'>Home</NavLink></li>
      <li class='ml-4'><NavLink class={({ isActive }) => `text-[#333] hover:underline ${isActive && 'text-[#fab73a] hover:no-underline cursor-default'}`} to='/blog'>Blog</NavLink></li>
      <li class='ml-4'><NavLink class={({ isActive }) => `text-[#333] hover:underline ${isActive && 'text-[#fab73a] hover:no-underline cursor-default'}`} to='/projects'>Projects</NavLink></li>
      <li class='ml-4'><NavLink class={({ isActive }) => `text-[#333] hover:underline ${isActive && 'text-[#fab73a] hover:no-underline cursor-default'}`} to='/resume'>Resume</NavLink></li> %>
    </ul>
  </div>
</header>
